@import url('https://fonts.googleapis.com/css2?family=Secular+One&family=Sono:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Sono',sans-serif;
    box-sizing: border-box;
    transition: all ease-in-out 0.47s;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right,rgb(152, 152, 241),rgb(234, 234, 90),rgb(249, 157, 173));
}

.container {
    width: fit-content;
    height: 70vh;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 60px;
    display: flex;
    text-transform: uppercase;
    color: white;
    gap: 20px;
}

.container .panel {
    width: 100px;
    gap: 20px;
    border-radius: 50px;
    cursor: pointer;
}

.container .panel.active {
    width: 650px;
}

.container .panel.active h1 {
    opacity: 1;
}

.container h1 {
    opacity: 0;
}
